<!-- <!DOCTYPE html>
<html>

<head>
  <title>Warships</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styl.css" />
  <script src="js/skrypt.js" type="text/javascript" lang="javascript" defer></script>
</head>

<body>
  <h1 id="title">BIG DUB</h1>
  <button id="two" class="swap">Go to one</button>
</body>

</html> -->