<!DOCTYPE html>
<html>

<head>
  <title>Warships</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styl.css" />
  <link rel="stylesheet" href="css/battleships.css">
  <script src="js/skrypt.js" type="module" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
  <div id="mainlogin">
    <span class="title">BATTLESHIPS</span>
      <span class="loginfo">Sign in</span>
      <input type="text" placeholder="Username">
      <button type="button" class="submit">Sign in</button>
      <h2 class="error wrongcredentials">Niepoprawne dane użytkownika</h4>
      <h2 class="error loggedin">Użytkownik jest już zalogowany na innym urządzeniu</h4>
      <input type="password" placeholder="Password">
      <button class="register">Register</button>
  </div>
  <div id="register">
    <h2>Zarejestruj się</h2>
    <form name="registerform">
      POWRÓT
      <label>
        Nazwa użytkownika:
        <input type="text" required>
      </label>
      <label>
        Hasło:
        <input type="password" required>
      </label>
      <label>
        Powtórz hasło:
        <input type="password" required>
      </label>
      <br>
      <button type="button" class="submit">Zarejestruj</button>
    </form>
    <h4 class="error login">Nazwa użytkownika jest już zajęta</h4>
    <h4 class="error inputs">Wszystkie pola są wymagane</h4>
    <h4 class="error wrongpass">Hasło i powtórzone hasło różnią się od siebie!</h4>
  </div>
  <div id="dashboard">
    <h1 class="title">DASHBOARD</h1>
    <button class="logout">Wyloguj się</button>
    <button class="newlobby">New lobby</button>
    <button class="settings">Account settings</button>
    <h4 class="error nonewlobby">Nie udało się utworzyć pokoju</h2>
    <label>
      Search by lobby name:
      <input type="text">
    </label>
    <button type="button" class="submit">Search</button>
    <h4 class="error nojoinlobby">Nie udało się znaleźć pokoju</h4>
    <h2 class="usergreeting"></h2>
    <div class="lobbylist">
      <div class="lobbylisting entry"></div>
    </div>
  </div>
  <div id="settings">
    <h2>SETTINGS</h2>
    <button class="settingsreturn">Return</button>
    <label>
      Change your account name:
      <input type="text" class="name">
      <button type="button" class="changename">Confirm</button>
    </label>
    <h4 class="error login">Nazwa użytkownika jest już zajęta</h4>
    <h4>Change your password</h4>
    <label>
      Current password
      <input type="password" class="oldpass">
    </label>
    <label>
      New password
      <input type="password" class="newpass1">
    </label>
    <label>
      Confirm new password password
      <input type="password" class="newpass2">
    </label>
    <button type="button" class="changepass">Confirm</button>
    <h4 class="error wrongpass">New password and confirmed password don't match!</h4>
    <h4 class="error authfail">Given current password is wrong!</h4>
  </div>
  <div id="lobby">
    <div id="main">
      <div class="board">
        <div class="displays">
          <div class="top">
            <ul class="grid"></ul>
          </div>
          <div class="bottom">
            <ul class="grid"></ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="topPanel">
          <div class="layout">
            <div class='buttons one'>Start</div>
            <div class='buttons multi'>Two-Player</div>
          </div>
        </div>
        <div class='console'>
          <span class='text'></span></div>
      </div>
    </div>
    <button type="button" class="leave">Wyjdź z lobby</button>
    <h2 class="lobbyname"></h2>
    <input type="text" class="updatelobby newname">
    <button type="button" class="updatelobby setnewname">Set new name</button>
    <div class="messagebox">
      <div class="message 1">Messages will be here</div>
    </div>
    <input type="text" class="msg">
    <button type="button" class="sendmsg">Wyślij</button>
  </div>
</body>

</html>