<!DOCTYPE html>
<html>

<head>
  <title>Warships</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styl.css" />
  <script src="js/skrypt.js" type="module" defer></script>
</head>

<body>
  <div id="mqtt">
    <h1 id="title">MQTT</h1>
    <button class="swap">Go to dashboard</button>
  </div>
  <div id="dashboard">
    <h1 id="title">DASHBOARD</h1>
    <button class="swap">Go to MQTT</button>
  </div>
</body>

</html>