<!DOCTYPE html>
<html>

<head>
  <title>Warships</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styl.css" />
  <link rel="stylesheet" href="css/battleships.css">
  <script src="js/skrypt.js" type="module" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
  <div id="mainlogin">
    <h1 class="title">MQTT</h1>
    <h2>Zaloguj się</h2>
    <form name="loginform">
      <label>
        Nazwa użytkownika:
        <input type="text">
      </label>
      <label>
        Hasło:
        <input type="password">
      </label>
      <br>
      <button type="button" class="submit">Zaloguj</button>
    </form>
    <button class="register">Zarejestruj się</button>
    <h4 class="error wrongcredentials">Niepoprawne dane użytkownika</h4>
    <h4 class="error loggedin">Użytkownik jest już zalogowany na innym urządzeniu</h4>
  </div>
  <div id="register">
    <h2>Zarejestruj się</h2>
    <form name="registerform">
      <label>
        Nazwa użytkownika:
        <input type="text" required>
      </label>
      <label>
        Hasło:
        <input type="password" required>
      </label>
      <label>
        Powtórz hasło:
        <input type="password" required>
      </label>
      <br>
      <button type="button" class="submit">Zarejestruj</button>
    </form>
    <h4 class="error login">Nazwa użytkownika jest już zajęta</h4>
    <h4 class="error inputs">Wszystkie pola są wymagane</h4>
    <h4 class="error wrongpass">Hasło i powtórzone hasło różnią się od siebie!</h4>
  </div>
  <div id="dashboard">
    <h1 class="title">DASHBOARD</h1>
    <button class="logout">Wyloguj się</button>
    <button class="newlobby">New lobby</button>
    <h4 class="error nonewlobby">Nie udało się utworzyć pokoju</h2>
    <label>
      Nazwa pokoju:
      <input type="text">
    </label>
    <button type="button" class="submit">Dołącz</button>
    <h4 class="error nojoinlobby">Nie udało się znaleźć pokoju</h2>
    <h2 class="usergreeting"></h2>
  </div>
  <div id="lobby">
    <div id="main">
      <div class="board">
        <div class="displays">
          <div class="top">
            <ul class="grid"></ul>
          </div>
          <div class="bottom">
            <ul class="grid"></ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="topPanel">
          <div class="layout">
            <div class='buttons one'>One-Player</div>
            <div class='buttons multi'>Two-Player</div>
            <div class='buttons options'>Options</div>
          </div>
        </div>
        <div class='console'>
          <span class='text'></span></div>
      </div>
    </div>
    <button type="button" class="leave">Wyjdź z lobby</button>
    <h2 class="lobbyname"></h2>
    <div class="messagebox">
      <div class="message 1">Messages will be here</div>
    </div>
    <input type="text" class="msg">
    <button type="button" class="sendmsg">Wyślij</button>
  </div>
</body>

</html>