<!DOCTYPE html>
<html>

<head>
  <title>Warships</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styl.css" />
  <script src="js/skrypt.js" type="module" defer></script>
</head>

<body>
  <div id="main">
    <h1 id="title">MQTT</h1>
    <h2>Zaloguj się</h2>
    <form name="loginform">
      <label>
        Nazwa użytkownika:
        <input type="text">
      </label>
      <label>
        Hasło:
        <input type="password">
      </label>
      <br>
      <button type="button" id="submit">Zaloguj</button>
    </form>
    <h4 class="error">Niepoprawne dane użytkownika</h4>
  </div>
  <div id="dashboard">
    <h1 id="title">DASHBOARD</h1>
    <button class="logout">Wyloguj się</button>
    <h2 id="usergreeting"></h2>
  </div>
</body>

</html>