<!DOCTYPE html>
<html>

<head>
  <title>Warships</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styl.css" />
  <link rel="stylesheet" href="css/battleships.css">
  <script src="js/skrypt.js" type="module" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
  <div id="mainlogin">
    <span class="title">BATTLESHIPS</span>
      <span class="loginfo">Sign in</span>
      <input type="text" placeholder="Username">
      <button type="button" class="submit">Sign in</button>
      <h2 class="error wrongcredentials">Wrong user credentials</h4>
      <h2 class="error loggedin">User already logged in on another device</h4>
      <input type="password" placeholder="Password">
      <button class="register">Register</button>
  </div>
  <div id="register">
    <button class="return">Return</button>
    <h2 class="title">Register</h2>
      <label>
        Username:
        <input type="text" required>
      </label>
      <label>
        Password:
        <input type="password" required>
      </label>
      <label>
        Confirm password:
        <input type="password" required>
      </label>
      <button type="button" class="submit">Sign up</button>
    <h4 class="error login">Username already taken</h4>
    <h4 class="error inputs">All fields are required</h4>
    <h4 class="error wrongpass">New password and confirmed password don't match!</h4>
  </div>
  <div id="dashboard">
    <span class="usergreeting"></span>
    <button class="logout">Log out</button>
    <button class="newlobby">New lobby</button>
    <button class="settings">Account settings</button>
    <h4 class="error nonewlobby">An error occurred while creating a lobby</h2>
    <input type="text" placeholder="Lobby name">
    <button type="button" class="submit">Search</button>
    <h4 class="error nojoinlobby">Unable to join the lobby</h4>
    <div class="lobbylist">
      <div class="lobbylisting entry"></div>
    </div>
  </div>
  <div id="settings">
    <button class="settingsreturn">Return</button>
    <h2 class="title">SETTINGS</h2>
    <label>
      Change your account name:
      <input type="text" class="name" placeholder="New username">
      <button type="button" class="changename">Confirm</button>
    </label>
    <label class="changenamelabel">
      <h4 class="error login">Nazwa użytkownika jest już zajęta</h4>
    </label>
    <label>
      Current password
      <input type="password" class="oldpass">
      <button type="button" class="changepass">Confirm</button>
    </label>
    <label>
      New password
      <input type="password" class="newpass1">
    </label>
    <label>
      Confirm new password
      <input type="password" class="newpass2">
    </label>
    <h4 class="error wrongpass">New password and confirmed password don't match!</h4>
    <h4 class="error authfail">Incorrect current password!</h4>
  </div>
  <div id="lobby">
    <div id="main">
      <div class="board">
        <div class="displays">
          <div class="top">
            <ul class="grid"></ul>
          </div>
          <div class="bottom">
            <ul class="grid"></ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="topPanel">
          <div class="layout">
            <div class='buttons one'>Start</div>
            <div class='buttons multi'>Two-Player</div>
          </div>
        </div>
        <div class='console'>
          <span class='text'></span></div>
      </div>
    </div>
    <div class="other">
      <h2 class="lobbyname"></h2>
      <button type="button" class="leave">Leave lobby</button>
      <button type="button" class="updatelobby setnewname">Set new name</button>
      <input type="text" class="updatelobby newname" placeholder="New name">
      <div class="messagebox">
        <div class="message 1"></div>
      </div>
      <input type="text" class="msg">
      <button type="button" class="sendmsg">Send</button>
    </div>
  </div>
</body>

</html>