body {
    margin: 0;
    padding: 0;
}

#dashboard {
    display: none;
}

#register {
    display: none;
}

#lobby {
    display: none;
}

.error {
    display: none;
    color: red;
}

.updatelobby {
    display: none;
}